#about #content-section {
  display: flex;
  justify-content: center;
}

#about .shape-section {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 100px;

  display: flex;
  justify-content: space-between;
}

