#about #content-section {
  display: flex;
  justify-content: center;
}

#about .shape-section {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 100px;

  display: flex;
  justify-content: space-between;
}

.elementor-10337 .elementor-element.elementor-element-c34ae9f:not(.elementor-motion-effects-element-type-background),
.elementor-10337 .elementor-element.elementor-element-c34ae9f > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #f7f5f2;
  background-image: url(https://demo.edublink.co/wp-content/uploads/2023/11/cta-university.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-10337 .elementor-element.elementor-element-c34ae9f {
  overflow: hidden;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 87px 0px 95px 0px;
}
.elementor-element {
  --widgets-spacing: 20px 20px;
  --widgets-spacing-row: 20px;
  --widgets-spacing-column: 20px;
}
.elementor-element,
.elementor-lightbox {
  --swiper-theme-color: #000;
  --swiper-navigation-size: 44px;
  --swiper-pagination-bullet-size: 6px;
  --swiper-pagination-bullet-horizontal-gap: 6px;
}
.elementor-section {
  position: relative;
}
