#faq #content-section {
  padding: 100px 0;
  display: flex;
  justify-content: center;
}

#faq .hero {
  width: 100%;
  height: 420px;
  background: #f0f4f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

#faq .hero-content {
  text-align: center;
}

#faq .hero-title {
  font-size: var(--edublink-h2);
  line-height: var(--edublink-h2-lineHeight);
  font-weight: var(--edublink-p-bold);
  font-family: var(--edublink-font-secondary);
  color: var(--edublink-color-heading);
  margin-bottom: 30px;
}

#faq .hero-title span {
  color: var(--edublink-color-secondary);
}
#faq .hero .button-container {
  display: flex;
  justify-content: center;
}

/* Decorative Shapes ------------------------------- */

#faq .shape {
  position: absolute;
}

#faq .shape-left-1 {
  width: 120px;
  height: 80px;
  bottom: 40px;
  left: 280px;
}

#faq .shape-left-2 {
  bottom: 120px;
  left: 320px;
}

#faq .shape-right-1 {
  width: 150px;
  height: 150px;
  right: 160px;
  top: 10px;
}
#faq .shape-right-2 {
  right: 160px;
  top: 10px;
}

#faq .shape-bottom {
  left: 300px;
  bottom: 20px;
}
