* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--edublink-font-primary) !important;
}
/* 
.active {
  color: var(--edublink-color-primary) !important;
} */

/* ============== Contact Start ============== */


.elementor-17213 .elementor-element.elementor-element-78ac899 .edublink-social-icon-each-item {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #E5E5E5;
    margin-right: 20px;
    margin-bottom: 20px;
    border-radius: 100px 100px 100px 100px;
}

.elementor-17213 .elementor-element.elementor-element-78ac899 .edublink-social-icon-each-item {
    width: 46px;
    height: 46px;
    font-size: 16px;
}
.elementor-17213 .elementor-element.elementor-element-78ac899 
.edublink-social-icon-each-item:hover {
    background-color: #1AB69D;
    border-style: solid;
    border-width: 1px;
    border-color: #1AB69D;
    color: white;
}


.elementor-17213 .elementor-element.elementor-element-78ac899 
.edublink-social-icon-each-item {
    transition: all 0.3s ease;
}


.elementor-17213 .elementor-element.elementor-element-78ac899 
.edublink-social-icon-each-item {
    border-radius: 50%;
}

/* ============== Contact End  ============== */

/* ============== Certificate Section Start  ============== */

.hero {
  width: 100%;
  height: 420px;
  background: #f0f4f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero-content {
  text-align: center;
}

.hero-title {
  font-size: var(--edublink-h2);
  line-height: var(--edublink-h2-lineHeight);
  font-weight: var(--edublink-p-bold);
  font-family: var(--edublink-font-secondary);
  color: var(--edublink-color-heading);
  margin-bottom: 30px;
}

.hero-title span {
  color: var(--edublink-color-secondary);
}
.hero .button-container {
  display: flex;
  justify-content: center;
}

/* Decorative Shapes ------------------------------- */

.shape {
  position: absolute;
}

.shape-left-1 {
  width: 120px;
  height: 80px;
  bottom: 40px;
  left: 280px;
}

.shape-left-2 {
  bottom: 120px;
  left: 320px;
}

.shape-right-1 {
  width: 150px;
  height: 150px;
  right: 160px;
  top: 10px;
}
.shape-right-2 {
  right: 160px;
  top: 10px;
}

.shape-bottom {
  left: 300px;
  bottom: 20px;
}
/* ============== Certificate Section End  ============== */
