* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--edublink-font-primary) !important;
}
/* 
.active {
  color: var(--edublink-color-primary) !important;
} */

/* ============== About Start ============== */

/* ============== About End  ============== */
