:root {
  --edublink-color-primary: #1ab69d;
  --edublink-color-primary-alt: #31b978;
  --edublink-color-secondary: #ee4a62;
  --edublink-color-textSecondary: #ff5b5c;
  --edublink-color-tertiary: #f8b81f;
  --edublink-color-dark: #231f40;
  --edublink-color-body: #808080;
  --edublink-color-heading: #181818;
  --edublink-color-white: #ffffff;
  --edublink-color-shade: #f5f5f5;
  --edublink-color-border: #e5e5e5;
  --edublink-color-black: #000000;
  --edublink-color-off-white: #bababa;
  --edublink-color-lighten01: #f0f4f5;
  --edublink-color-lighten02: #edf5f8;
  --edublink-color-lighten03: #f5f1eb;
  --edublink-color-lighten04: #f7f5f2;
  --edublink-color-extra01: #0ecd73;
  --edublink-color-extra02: #8e56ff;
  --edublink-color-extra03: #f92596;
  --edublink-color-extra04: #5866eb;
  --edublink-color-extra05: #f8941f;
  --edublink-color-extra06: #39c0fa;
  --edublink-color-extra07: #da04f8;
  --edublink-color-extra08: #4664e4;
  --edublink-color-extra09: #525151;
  --edublink-color-extra10: #404040;
  --edublink-color-extra11: #22272e;
  --edublink-gradient-primary: linear-gradient(
    -90deg,
    var(--edublink-color-primary-alt) 0%,
    var(--edublink-color-primary) 100%
  );
  --edublink-gradient-primary-alt: linear-gradient(
    -90deg,
    var(--edublink-color-primary) 0%,
    var(--edublink-color-primary-alt) 100%
  );
  --edublink-radius-small: 5px;
  --edublink-radius: 10px;
  --edublink-radius-big: 16px;
  --edublink-p-light: 300;
  --edublink-p-regular: 400;
  --edublink-p-medium: 500;
  --edublink-p-semi-bold: 600;
  --edublink-p-bold: 700;
  --edublink-p-extra-bold: 800;
  --edublink-p-black: 900;
  --edublink-shadow-darker: 0px 10px 50px 0px rgba(26, 46, 85, 0.1);
  --edublink-shadow-darker2: 0px 20px 50px 0px rgba(26, 46, 85, 0.1);
  --edublink-shadow-dark: 0px 10px 30px 0px rgba(20, 36, 66, 0.15);
  --edublink-shadow-darkest: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
  --edublink-shadow-darker3: 0px 4px 50px 0px rgba(0, 0, 0, 0.1);
  --edublink-shadow-darker4: 0px 20px 70px 0px rgba(15, 107, 92, 0.2);
  --edublink-transition: 0.3s;
  --edublink-transition-2: 0.5s;
  --edublink-transition-transform: transform 0.65s
    cubic-bezier(0.23, 1, 0.32, 1);
  --edublink-font-primary: "Poppins", sans-serif;
  --edublink-font-secondary: "Spartan", sans-serif;
  --edublink-font-size-b1: 15px;
  --edublink-font-size-b2: 13px;
  --edublink-font-size-b3: 14px;
  --edublink-font-size-b4: 12px;
  --edublink-line-height-b1: 1.73;
  --edublink-line-height-b2: 1.85;
  --edublink-line-height-b3: 1.6;
  --edublink-line-height-b4: 1.3;
  --edublink-h1: 50px;
  --edublink-h2: 36px;
  --edublink-h3: 28px;
  --edublink-h4: 20px;
  --edublink-h5: 18px;
  --edublink-h6: 16px;
  --edublink-h1-lineHeight: 1.2;
  --edublink-h2-lineHeight: 1.39;
  --edublink-h3-lineHeight: 1.43;
  --edublink-h4-lineHeight: 1.4;
  --edublink-h5-lineHeight: 1.45;
  --edublink-h6-lineHeight: 1.62;
}

@theme {
  --color-primary: var(--edublink-color-primary);
  --color-success: var(--edublink-color-extra01);
}
