@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "../public/assets/css/swiper.min8547.css";

@import "../public/assets/css/style.css";
@import "../public/assets/css/variable.css";
@import "../public/assets/css/main.css";
/* @import "../public/assets/css/privacy-Policy.css"; */
@import "../public/assets/css/faq.css";
@import "../public/assets/css/about.css";

@import "../public/assets/css/remixicon.css";
@import "../public/assets/css/elementor-icons.min8547.css";
@import "../public/assets/css/edublink-custom-icons.css";
@import "../public/assets/css/custom-frontend-lite.minb8a9.css";
@import "../public/assets/css/post-123368b4.css";
@import "../public/assets/css/swiper-bundle.min8547.css";
@import "../public/assets/css/metisMenu.css";
@import "../public/assets/css/learnpress.min4189.css";
@import "../public/assets/css/learnpress8547.css";
@import "../public/assets/css/post-13579fc85.css";
@import "../public/assets/css/odometer.min8a54.css";
@import "../public/assets/css/post-13627d391.css";
@import "../public/assets/css/edublink-core-main.css";
@import "aos/dist/aos.css";
@import "../public/assets/css/update.css";



@import "../public/assets/css/wishlist.min8603.css";
@import "../public/assets/css/blocks.style.build8547.css";
@import "../public/assets/css/styles8547.css";
@import "../public/assets/css/woocommerce-layout8547.css";
@import "../public/assets/css/woocommerce-smallscreen8547.css";
@import "../public/assets/css/woocommerce8547.css";
@import "../public/assets/css/jquery.countdown8547.css";
@import "../public/assets/css/owl.carousel8547.css";
@import "../public/assets/css/magnific-popup8547.css";
@import "../public/assets/css/events.min8547.css";
@import "../public/assets/css/yith-quick-view8547.css";
@import "../public/assets/css/brands8547.css";
@import "../public/assets/css/style.min1dc6.css";
@import "../public/assets/css/widgets.min4189.css";
@import "../public/assets/css/post-18c4b8.css";
@import "../public/assets/css/tipped.min8a54.css";
@import "../public/assets/css/nice-select8547.css";
@import "../public/assets/css/font-awesome-5.min8547.css";
@import "../public/assets/css/fontawesome.min52d5.css";
@import "../public/assets/css/solid.min8547.css";
@import "../public/assets/css/wc-blocks8547.css";
@import "../public/assets/css/course-review8547.css";
@import "../public/assets/css/jquery.fancybox.min8a54.css";
@import "../public/assets/css/widgets.min4189.css";

